@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigatoin-link, .buttone-navigation {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
.welcome {
  width: 1200px;
  height: 485px;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../img/welcome-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome-sedona-image {
  text-align: center;
}
.advantage-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantage-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.adventage-item {
  width: 400px;
  height: 385px;
  justify-content: center;
  background-color: #82B3D3;
}
.item-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}
.item-gray {
  background-color: rgba(131, 179, 211, 0.2);
}
.adventage-subject {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.subject-black {
  color:#000000;
}
.advantages-desc {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.desc-gray {
  color: #333333;
}
.services-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.services-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.item-white {
  background-color: #ffffff;
}
.service-subject {
  width: 230px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.service-text {
  width: 230px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.hotel-index-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.hotel-index-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.button-brown-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.distribusion-index {
  width: 1200px;
  height: 414.86px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../img/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
 }
.distribusion-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
 }
.distribusion-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
 }
.distribusion-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
 }
.distribusion-form-position {
  text-align: center;
}
.footer-contacts-address-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
}

                 /* CATALOG */
.filter-img {
  width: 1200px;
  height: 412px;
  background-image: url(../img/catalog-filter.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.inner-header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.button-filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-filter-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hotel-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}
.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  text-align: center;
}
.pagination-item-light-gray {
  background: #F2F2F2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  text-align: center;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
